<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
        <listener class-name="org.testng.reporters.FailedReporter"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="First Test Case">
        <classes>
            <class name="WithoutBDDStyle"/>
        </classes>
    </test>
</suite>